body {
  background-color: lightyellow;
  border-style: inset;
  border-color: green;
  border-radius: 5px;
  border-width: 5px 5px 5px 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
}

h2 {
  color: green;
  text-align: center;
  font-size: 60px;
   } 

h3, h4 {
  color: orange;
  text-align: left;
  font-size: 40px;
     } 
p {
  font-family: verdana;
  font-size: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
 } 

.img-left-bottom {
    display: block;
    margin: 20px 10px 10px 10px;
 } 

  ul, ol {
   line-height: 1;
   color: black;
   font-size: 35px;
        }
li {
    margin-bottom: 8px;
    font-size: 35px;
   } 

.recipe-container {
  display: flex;        
  align-items: center;
  gap: 100px;           
}

.ingredients-list {
  flex: 1;
}

.recipe-image {
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  margin-right: 20px; 
}
